iss.flow
[{"id":"1122efc.723081","type":"template","z":"4e5500e.af81e","name":"Space Station Tracker","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Realtime ISS</title>\n        <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\" />\n        <style type=\"text/css\">\n            html { height: 100% }\n            body { height: 100%; margin: 0; padding: 0 }\n            #map { height: 100% }\n        </style>\n        <script type=\"text/javascript\" src=\"//maps.googleapis.com/maps/api/js?key=AIzaSyAFLoXS1lPMv75OISOZ0GujwAhH1LPlJP4&sensor=false\"></script>\n        <script src=\"//googlemaps.github.io/js-map-label/src/maplabel-compiled.js\"></script>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n        <script type=\"text/javascript\">\n            var map, marker, last_latlng;\n\n            function init() {\n                var latlng = new google.maps.LatLng(43.7081784,-79.4609571);//51.48931, -0.08819);\n                var mapOptions = { center: latlng, zoom: 2, mapTypeId: google.maps.MapTypeId.TERRAIN, //zoomControl: true, scaleControl: true}\n          \n           mapTypeControl: true,\n          mapTypeControlOptions: {\n              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,\n              position: google.maps.ControlPosition.TOP_CENTER\n          },\n          zoomControl: true,\n          zoomControlOptions: {\n              position: google.maps.ControlPosition.LEFT_CENTER\n          },\n          scaleControl: true,\n          streetViewControl: true,\n          streetViewControlOptions: {\n              position: google.maps.ControlPosition.LEFT_TOP\n          },\n          fullscreenControl: true\n                }\n\n\n                map = new google.maps.Map(document.getElementById(\"map\"), mapOptions);\n                infoWindow = new google.maps.InfoWindow();\n                maxZoomService = new google.maps.MaxZoomService();\n              //  map.addListener('click', showMaxZoom);\n\n\n                marker = new google.maps.Marker({ position: latlng, map: map, title: \"Lat:\"+latlng, icon: 'https://raw.githubusercontent.com/picklepete/iss/master/saticon.gif' });\n    //aquator\n    \n    \n       var rectangle = new google.maps.Rectangle({\n       strokeColor: '#0000FF',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(0, 90),\n       new google.maps.LatLng(0, 0))\n     });\n     \n    b1tlx= 85.03568516\n    b1tly= -150.734375\n    b1brx= -60.2679967\n    b1bry= -120.90625\n    var rectangle = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b1tlx, b1tly),\n       new google.maps.LatLng(b1brx, b1bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 1',\n          position: new google.maps.LatLng(b1brx, b1bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n     //   mapLabel.set('position', new google.maps.LatLng(34.03, -118.235));\n        \n    b2tlx= 85.03568516\n    b2tly= -100.734375\n    b2brx= -60.2679967\n    b2bry= -70.90625\n   \n  var rectangle1 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b2tlx, b2tly),\n       new google.maps.LatLng(b2brx, b2bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 2',\n          position: new google.maps.LatLng(b2brx, b2bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n   \n  var rectangle2 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, -50.734375),\n       new google.maps.LatLng(-60.2679967,-10.90625))\n     });\n   \n       var mapLabel = new MapLabel({\n          text: 'BOX 3',\n          position: new google.maps.LatLng(-60.2679967,-10.90625),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n     var rectangle3 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, 10),\n       new google.maps.LatLng(-60.2679967, 40))\n     });\n     \n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 4',\n          position: new google.maps.LatLng(-60.2679967, 40),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n          var rectangle4 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85, 90),\n       new google.maps.LatLng(-60, 130))\n     }); \n     \n       \n       var mapLabel = new MapLabel({\n          text: 'BOX 5',\n          position: new google.maps.LatLng(-60, 130),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n         \n            }\n            google.maps.event.addDomListener(window, 'load', init);\n\n\n\n           function showMaxZoom(e) {\n             maxZoomService.getMaxZoomAtLatLng(e.latLng, function(response) {\n               if (response.status !== google.maps.MaxZoomStatus.OK) {\n                 infoWindow.setContent('Error in MaxZoomService');\n               } else {\n                 infoWindow.setContent(\n                     'The maximum zoom at this location is: ' + response.zoom);\n               }\n               infoWindow.setPosition(e.latLng);\n               infoWindow.open(map);\n             });\n           }\n            function draw_flight_path(latlng) {\n                if(last_latlng == undefined) {\n                    last_latlng = latlng;\n                }\n                flight_path = new google.maps.Polyline({\n                    path: [last_latlng, latlng],\n                    strokeColor: \"#FFFF00\",\n                    strokeOpacity: 1.0,\n                    strokeWeight: 2\n                });\n                last_latlng = latlng;\n                flight_path.setMap(map);\n            };\n\n            function get_latest_position() {\n                $.getJSON('http://open-notify-api.herokuapp.com/iss-now.json?callback=?', function(data, status) {\n                    position = data.iss_position;\n var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n// $.getJSON('https://api.wheretheiss.at/v1/satellites/25544/', function(data, status) {\n\n                    var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n                    map.setCenter(latlng);\n                    marker.setPosition(latlng);\n                    marker.setTitle(\"Position: \"+latlng);\n                    var mycon = \"ISSI<br>Lat:\"+position.latitude+\"<br>Long\"+ position.longitude\n                    var myinfowindow = new google.maps.InfoWindow({\n                        content: mycon\n                    });\n marker.addListener('click', function() {\n    myinfowindow.open(map, marker);\n  });\n\n                    draw_flight_path(latlng);\n                    \n                });\n            };\n            setInterval(get_latest_position, 5000);\n        </script>\n    </head>\n    <body>\n        <div id=\"map\"/>\n    </body>\n</html>\n","output":"str","x":300,"y":160,"wires":[["1730e121.39934f"]]},{"id":"c4838c73.1e102","type":"http in","z":"4e5500e.af81e","name":"","url":"/iss","method":"get","upload":false,"swaggerDoc":"","x":83.5,"y":159.25,"wires":[["1122efc.723081"]]},{"id":"1730e121.39934f","type":"http response","z":"4e5500e.af81e","name":"","statusCode":"","headers":{},"x":510,"y":160,"wires":[]},{"id":"e288c8de.dec2e8","type":"http request","z":"4e5500e.af81e","name":"","method":"GET","ret":"obj","url":"http://open-notify-api.herokuapp.com/iss-now.json","tls":"","x":270,"y":240,"wires":[["950a3058.3b4f1","755ef58e.8630dc","74d77f1e.010fa","7f31bdca.316b04"]]},{"id":"950a3058.3b4f1","type":"debug","z":"4e5500e.af81e","name":"IssiPos","active":false,"console":"false","complete":"payload","x":260,"y":200,"wires":[]},{"id":"beba9786.ecdf08","type":"inject","z":"4e5500e.af81e","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":90,"y":240,"wires":[["e288c8de.dec2e8"]]},{"id":"ecce0d74.61292","type":"ui_template","z":"4e5500e.af81e","group":"c45a2608.ee7b48","name":"map","order":0,"width":"15","height":"11","format":"<div >\n<iframe src=\"/iss\" height=600 width=800>\n  <p>Your browser does not support iframes.</p>\n</iframe>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":510,"y":120,"wires":[[]]},{"id":"755ef58e.8630dc","type":"function","z":"4e5500e.af81e","name":"DisplayLat","func":"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":260,"wires":[["36afa65e.85111a","c96a178b.33d1b8"]]},{"id":"36afa65e.85111a","type":"ui_text","z":"4e5500e.af81e","group":"145fb005.ef9db","order":1,"width":0,"height":0,"name":"","label":"latitude","format":"{{msg.payload.iss_position.latitude}}","layout":"row-spread","x":700,"y":240,"wires":[]},{"id":"c96a178b.33d1b8","type":"ui_text","z":"4e5500e.af81e","group":"145fb005.ef9db","order":2,"width":0,"height":0,"name":"","label":"longitude","format":"{{msg.payload.iss_position.longitude}}","layout":"row-spread","x":700,"y":280,"wires":[]},{"id":"f629c6c5.6706e8","type":"ui_gauge","z":"4e5500e.af81e","name":"","group":"89396f98.eeb","order":0,"width":"5","height":"3","gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#6f7dc9","#530dbb"],"seg1":"","seg2":"","x":1230,"y":820,"wires":[]},{"id":"30e75012.0e1dc","type":"ui_gauge","z":"4e5500e.af81e","name":"","group":"89396f98.eeb","order":0,"width":"5","height":"3","gtype":"gage","title":"Green","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#73bc78","#21ac1b"],"seg1":"","seg2":"","x":1230,"y":780,"wires":[]},{"id":"aa770cdd.a805c","type":"ibmiot in","z":"4e5500e.af81e","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":710,"y":780,"wires":[["1a676d7b.0e4573","74ee109b.57247","43f9dbf4.cf0f74","a4c1695d.6c95e8","844b6d4a.c6293","b5518887.b73368"]]},{"id":"7f31bdca.316b04","type":"function","z":"4e5500e.af81e","name":"CheckArea","func":"//Lat = Y Long = X\n/*\nbb is the bounding box, (ix,iy) are its top-left coordinates, and (ax,ay) its bottom-right coordinates. p is the point and (x,y) its coordinates.\n*/\nfunction checkPos(lat,lon,topleftlat,topleftlon,bottomrightlat,bottomrightlon,box)\n{\n    msg.inbox = box;\n  \n  //  node.warn(\"X topleftlon \"+topleftlon+\"  <= lon \"+lon+ \" res = \"+(   topleftlon <= lon   ))\n  //  node.warn(\"X lon \"+lon+\"  <= bottomrightlon \"+bottomrightlon+ \" res = \"+(  lon <= bottomrightlon)  )\n\nif( topleftlon <= lon && lon <= bottomrightlon ) {\n    // Point is in bounding box\n\n \n //node.warn(\" ISS in the area (\"+box+\").. candle ON\")  \nreturn true;\n\n}else{\n// node.warn(\"ISS not in the area  (\"+box+\")... candle OFF\")  \n return  false;\n\n\n}\nreturn  false;\n}\n\n \nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n\n  r0LatTl= 85\n  r0LngTl=-150\n\n  r0LatBr= -60\n  r0LngBr= -120\n\n  r1LatTl=  85\n  r1LngTl=-100.\n\n  r1LatBr= -60\n  r1LngBr= -70\n\n\n  r2LatTl=  85\n  r2LngTl= -50\n\n  r2LatBr= -60\n  r2LngBr= -10\n\n  r3LatTl=  85\n  r3LngTl= 10\n\n  r3LatBr= 85\n  r3LngBr= 40\n  \n  r4LatTl= 85\n  r4LngTl= 90\n\n  r4LatBr= -60\n  r4LngBr= 130\n\n/*\n\nlatitude\n\n-50.50472391191916\n\nlongitude\n\n-126.35910070188285\n\n\n\nlatitude = -50.5047239119191\n\nlongitude= -126.35910070188285\n\nmsg.inarea = false;\n node.warn(\"check\")\nres =checkPos(latitude ,longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box 1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n  */  \n\nmsg.inarea = false;\nres =checkPos(msg.latitude ,msg.longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n\n\nres =checkPos(msg.latitude ,msg.longitude,r1LatTl,r1LngTl,r1LatBr,r1LngBr,\"box 2\");\nmsg.inarea = res;\nif(res)\n    return msg;\n    \n \nres =checkPos(msg.latitude ,msg.longitude,r2LatTl,r2LngTl,r2LatBr,r2LngBr,\"box 3\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\nres =checkPos(msg.latitude ,msg.longitude,r3LatTl,r3LngTl,r3LatBr,r3LngBr,\"box 4\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\n\nres =checkPos(msg.latitude ,msg.longitude,r4LatTl,r4LngTl,r4LatBr,r4LngBr,\"box 5\");\nmsg.inarea = res;\nif(res)\n    return msg; \n    \nmsg.inbox = \"No\";    \nreturn msg;","outputs":1,"noerr":0,"x":170,"y":420,"wires":[["d7381a36.a50a28","ddb0ba0f.9d6408","5609746f.7ad41c"]]},{"id":"534e549a.ae94fc","type":"e-mail","z":"4e5500e.af81e","server":"smtp.gmail.com","port":"465","secure":true,"name":"yourmail@gmail.com , mvk4ibm@gmail.com","dname":"","x":1210,"y":420,"wires":[]},{"id":"e14868cd.d36fb8","type":"function","z":"4e5500e.af81e","name":"IfIss is in Area send email","func":"\n    msg.topic = \"ISS update for YOU\"\n    msg.payload= \"Hello from Node-RED ISS is in Area with the SPEED of x Km/H and traveled  \"+global.get(\"distance\")+ \" km\";\n    return msg;","outputs":1,"noerr":0,"x":870,"y":420,"wires":[["534e549a.ae94fc","8d329a94.c84ae8"]]},{"id":"a74cd05d.46013","type":"inject","z":"4e5500e.af81e","name":"Send Email","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":870,"y":480,"wires":[["e14868cd.d36fb8"]]},{"id":"8d329a94.c84ae8","type":"debug","z":"4e5500e.af81e","name":"email","active":false,"console":"false","complete":"true","x":1090,"y":480,"wires":[]},{"id":"45c5f13f.3fb9d","type":"function","z":"4e5500e.af81e","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":940,"wires":[[]]},{"id":"5ffc3c98.e71b14","type":"delay","z":"4e5500e.af81e","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":100,"y":580,"wires":[["4e42d09a.b4a55"]]},{"id":"671f9a61.d600e4","type":"ibmiot out","z":"4e5500e.af81e","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":630,"y":580,"wires":[]},{"id":"ad597fc.9fc708","type":"comment","z":"4e5500e.af81e","name":"Check the Code below","info":"","x":180,"y":380,"wires":[]},{"id":"38ce4aab.8e46f6","type":"comment","z":"4e5500e.af81e","name":"IssWebPage","info":"","x":267.2222222222222,"y":117.5,"wires":[]},{"id":"8519342f.afda98","type":"comment","z":"4e5500e.af81e","name":"#2 Use Your GMAIL account","info":"","x":1160,"y":380,"wires":[]},{"id":"72f1f743.b2a9b8","type":"inject","z":"4e5500e.af81e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":620,"wires":[["4e42d09a.b4a55"]]},{"id":"c4133450.e62848","type":"comment","z":"4e5500e.af81e","name":"#1 Adjust the candle number","info":"","x":900,"y":520,"wires":[]},{"id":"981b8c72.2dee1","type":"comment","z":"4e5500e.af81e","name":"#1 Adjust the candle number","info":"","x":720,"y":740,"wires":[]},{"id":"1a676d7b.0e4573","type":"debug","z":"4e5500e.af81e","name":"InComing","active":false,"console":"false","complete":"payload","x":700,"y":840,"wires":[]},{"id":"74ee109b.57247","type":"function","z":"4e5500e.af81e","name":"Red","func":"var newmsg ={}\nnewmsg.payload = msg.payload.candleRR\nnewmsg.topic =\"Red\";\nreturn newmsg;","outputs":1,"noerr":0,"x":1030,"y":740,"wires":[["1294f119.e42b2f"]]},{"id":"43f9dbf4.cf0f74","type":"function","z":"4e5500e.af81e","name":"Green","func":"msg.payload = msg.payload.candleGG\nmsg.topic =\"Green\";\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":780,"wires":[["30e75012.0e1dc"]]},{"id":"a4c1695d.6c95e8","type":"function","z":"4e5500e.af81e","name":"Blue","func":"msg.payload = msg.payload.candleBB\nmsg.topic =\"Blue\";\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":820,"wires":[["f629c6c5.6706e8"]]},{"id":"1294f119.e42b2f","type":"ui_gauge","z":"4e5500e.af81e","name":"","group":"89396f98.eeb","order":0,"width":"5","height":"3","gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#bcb489","#ac0c19"],"seg1":"","seg2":"","x":1230,"y":740,"wires":[]},{"id":"ed4b5d01.6cfe1","type":"function","z":"4e5500e.af81e","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":500,"wires":[["671f9a61.d600e4","e62d2494.fe3c38"]]},{"id":"7b527139.a5521","type":"function","z":"4e5500e.af81e","name":"setCandle=Red","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":560,"wires":[["671f9a61.d600e4"]]},{"id":"96f555eb.5226e8","type":"function","z":"4e5500e.af81e","name":"setCandle=Blue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":700,"wires":[["671f9a61.d600e4"]]},{"id":"b7694741.500e08","type":"inject","z":"4e5500e.af81e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":660,"wires":[["96f555eb.5226e8"]]},{"id":"4e42d09a.b4a55","type":"function","z":"4e5500e.af81e","name":"setCandle=Green","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":600,"wires":[["671f9a61.d600e4"]]},{"id":"3cb1e36b.88510c","type":"comment","z":"4e5500e.af81e","name":"#3 Check email text","info":"","x":850,"y":380,"wires":[]},{"id":"d7381a36.a50a28","type":"switch","z":"4e5500e.af81e","name":"In Area ?","property":"inarea","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":360,"y":420,"wires":[["5ffc3c98.e71b14","4a105d8.e0599a4","7b527139.a5521","406cfb1c.66aef4"],["ed4b5d01.6cfe1"]]},{"id":"4a105d8.e0599a4","type":"delay","z":"4e5500e.af81e","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":600,"y":420,"wires":[["e14868cd.d36fb8"]]},{"id":"e62d2494.fe3c38","type":"debug","z":"4e5500e.af81e","name":"Not in area","active":true,"console":"false","complete":"true","x":630,"y":500,"wires":[]},{"id":"ddb0ba0f.9d6408","type":"debug","z":"4e5500e.af81e","name":"Check","active":false,"console":"false","complete":"payload","x":150,"y":480,"wires":[]},{"id":"7989c8ff.733978","type":"ui_text","z":"4e5500e.af81e","group":"145fb005.ef9db","order":4,"width":0,"height":0,"name":"","label":"In Area?","format":"{{msg.inbox}}","layout":"row-spread","x":700,"y":340,"wires":[]},{"id":"5609746f.7ad41c","type":"function","z":"4e5500e.af81e","name":"InBox","func":"msg.inbox = msg.inbox.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["7989c8ff.733978"]]},{"id":"e94d37c5.42c438","type":"function","z":"4e5500e.af81e","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":820,"wires":[["671f9a61.d600e4"]]},{"id":"ba77eb4a.e15108","type":"ui_button","z":"4e5500e.af81e","name":"","group":"145fb005.ef9db","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Off","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":116.875,"y":860.625,"wires":[["e94d37c5.42c438"]]},{"id":"406cfb1c.66aef4","type":"debug","z":"4e5500e.af81e","name":"In Area","active":true,"console":"false","complete":"true","x":500,"y":380,"wires":[]},{"id":"9a8051d6.fa99d","type":"comment","z":"4e5500e.af81e","name":"Infos","info":"mvk@ca.ibm.com - November 2017 \nSee https://github.com/SixNationsPolytechnic/iotcandle","x":70,"y":1080,"wires":[]},{"id":"844b6d4a.c6293","type":"function","z":"4e5500e.af81e","name":"Counter","func":"var newmsg ={}\nnewmsg.payload = msg.payload.value\nreturn newmsg;","outputs":1,"noerr":0,"x":1040,"y":680,"wires":[["68bc0901.3f5218"]]},{"id":"68bc0901.3f5218","type":"ui_text","z":"4e5500e.af81e","group":"89396f98.eeb","order":5,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":680,"wires":[]},{"id":"74d77f1e.010fa","type":"function","z":"4e5500e.af81e","name":"Sale LatLong","func":"\nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n//msg.payload = []//\n//msg.payload =msg.latitude;\n//msg.topic=\"Lat\";\nnode.send(msg)\nmsg.topic=\"Lon\";\nmsg.payload =msg.longitude;\n//msg.payload[1] =msg.longitude;\n//\"\"+msg.latitude+\",\"+msg.longitude;\nglobal.set(\"oldlatitude\",global.get(\"latitude\"));\nglobal.set(\"oldlongitude\",global.get(\"longitude\"));\n\nglobal.set(\"latitude\",msg.latitude)\nglobal.set(\"longitude\",msg.longitude)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["a3d83366.cbe21","7b747ffb.3cb45"]]},{"id":"b5518887.b73368","type":"function","z":"4e5500e.af81e","name":"Time","func":"function unixTime(unixtime) {\n\n    var u = new Date(unixtime);\n\n      return u.getUTCFullYear() +\n        '-' + ('0' + u.getUTCMonth()).slice(-2) +\n        '-' + ('0' + u.getUTCDate()).slice(-2) + \n        ' ' + ('0' + u.getUTCHours()).slice(-2) +\n        ':' + ('0' + u.getUTCMinutes()).slice(-2) +\n        ':' + ('0' + u.getUTCSeconds()).slice(-2) +\n        '.' + (u.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) \n    };\n    var newmsg ={}\nnewmsg.payload = unixTime(parseInt(msg.payload.ts))\nreturn newmsg;","outputs":1,"noerr":0,"x":1030,"y":640,"wires":[["b4a15cf2.29548"]]},{"id":"b4a15cf2.29548","type":"ui_text","z":"4e5500e.af81e","group":"89396f98.eeb","order":5,"width":0,"height":0,"name":"","label":"Msg Time","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":640,"wires":[]},{"id":"a301dd91.840f9","type":"ui_button","z":"4e5500e.af81e","name":"","group":"145fb005.ef9db","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Blue","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":110,"y":760,"wires":[[]]},{"id":"a3d83366.cbe21","type":"function","z":"4e5500e.af81e","name":"Distance","func":"function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {\n  var R = 6371; // Radius of the earth in km\n  var dLat = deg2rad(lat2-lat1);  // deg2rad below\n  var dLon = deg2rad(lon2-lon1); \n  var a = \n    Math.sin(dLat/2) * Math.sin(dLat/2) +\n    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * \n    Math.sin(dLon/2) * Math.sin(dLon/2)\n    ; \n  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n  var d = R * c; // Distance in km\n  return d;\n}\n\nfunction deg2rad(deg) {\n  return deg * (Math.PI/180)\n}\nlat=global.get(\"latitude\");\nlon=global.get(\"longitude\");\nolat=global.get(\"oldlatitude\");\nolon=global.get(\"oldlongitude\");\n\n\ndistance =getDistanceFromLatLonInKm(olat,olon,lat,lon)\n//node.warn(speed)\nmsg.payload = distance.toFixed(2);\nmsg.distance = distance;\nglobal.set(\"distance\",distance);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":160,"wires":[["1c86f043.71d69","da05684b.0f4f58"]]},{"id":"1c86f043.71d69","type":"ui_text","z":"4e5500e.af81e","group":"145fb005.ef9db","order":4,"width":0,"height":0,"name":"","label":"Distance in Km( 10Sec)","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":160,"wires":[]},{"id":"7b747ffb.3cb45","type":"ui_chart","z":"4e5500e.af81e","name":"","group":"145fb005.ef9db","order":0,"width":0,"height":0,"label":"Longitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":707.2222222222222,"y":203.88888888888889,"wires":[[],[]]},{"id":"744fbfd8.142f7","type":"ui_text","z":"4e5500e.af81e","group":"145fb005.ef9db","order":4,"width":0,"height":0,"name":"","label":"Speed in Km/H","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":120,"wires":[]},{"id":"da05684b.0f4f58","type":"function","z":"4e5500e.af81e","name":"Calulate SPEED","func":"// Home work! Calulate the speed in Km/H of the ISS\n// based on the distance \n//msg.distance = IIS traveld in 10 Sec\n\nmsg.payload = \"???\"\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":120,"wires":[["744fbfd8.142f7"]]},{"id":"c45a2608.ee7b48","type":"ui_group","z":"","name":"ISS Area","tab":"1519f19.8313f0e","order":1,"disp":true,"width":"12"},{"id":"145fb005.ef9db","type":"ui_group","z":"","name":"ISS Infos","tab":"1519f19.8313f0e","order":2,"disp":true,"width":"6"},{"id":"89396f98.eeb","type":"ui_group","z":"","name":"FromPI","tab":"1519f19.8313f0e","order":3,"disp":true,"width":"6"},{"id":"1519f19.8313f0e","type":"ui_tab","z":"","name":"ISS Area","icon":"dashboard"}]
