my2flow.flow
[{"id":"db8d7aaa.00a7e8","type":"inject","z":"4daa357d.d8986c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":177,"y":171,"wires":[["fabad364.bbec6","892f0464.8f5828"]]},{"id":"fabad364.bbec6","type":"debug","z":"4daa357d.d8986c","name":"","active":true,"console":"false","complete":"false","x":510,"y":140,"wires":[]},{"id":"892f0464.8f5828","type":"debug","z":"4daa357d.d8986c","name":"","active":true,"console":"false","complete":"false","x":510,"y":200,"wires":[]}]
