test02.flow
[{"id":"afccb7fd.b48128","type":"inject","z":"2f7d64ff.2e24ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":296,"y":165,"wires":[["4d279cf9.23f314","1d330c37.837e14"]]},{"id":"4d279cf9.23f314","type":"debug","z":"2f7d64ff.2e24ac","name":"","active":true,"console":"false","complete":"false","x":488,"y":165,"wires":[]},{"id":"1d330c37.837e14","type":"debug","z":"2f7d64ff.2e24ac","name":"","active":true,"console":"false","complete":"false","x":475,"y":236,"wires":[]}]
